.User{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    align-items: center;
    margin:auto;
 padding: 2rem 0 0 0;
    width:50%;
    border: thin solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 0.5px 0.5px rgb(167, 167, 167);

    .Profile{
        padding: 1rem; 
        text-align: center;
        background-color: black;
        border-radius: 50%;
       width:100px;
        min-height:100px;
    }
    .UserInfo{
        padding: 1rem;
        text-align: center;
    }

    .Feedback{
        display: flex;
        flex-direction: column;
        gap:1rem;
        padding:1rem;
        background-color: orange;
    }
}